<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parameterization Test Suite">
	<test name="Testing Parameterization">
	<parameter name="prjName" value="drg"/>
	<parameter name="testEnvironment" value="{AccountSubmission=Windows 7||Firefox}"/>
	<parameter name="instanceName" value="test"/>
	<parameter name="sauceUser" value="Local"/>
	<parameter name="moduleName" value="drg"/>
	<parameter name="testSetName" value="drg"/>
		<classes>
			<class name="com.vmware.sanity.LaunchBrowser" />
		</classes>
	</test>
</suite>